body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    margin:0
}
/* =================
    Typography 
   ================= */
h1 {
    font-weight: 400;
    font-size: 2.5rem;
    text-shadow: 0 2px #816fca;
}
h2 {
    font-size: 2.25rem;
    margin: 0.167em 0;
}

.beta-text { 
    font-weight: 900;
    text-transform: uppercase;
}

.subheading {
    color: #575757;
    font-weight: 900;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

p {
    font-size: 1.125rem;
    line-height: 1.35;
}

.fine-print {
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: #858585;
}


/* =================
   Flex Containers
   ================= */
   .intro,
   .main-content {
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    padding-right: 2em;   
   }

/* =================
    Intro
   ================= */
   
.intro { 
    color: #fff;
    background-color: #9480e4;
    background-image: url(./images/intro-bg.png);
    background-size: cover; /** fill the full width and height maintaining the ratio */
    justify-content: center;
    text-align: center;
    min-height: 250px;
}

/* ====================
    Main content
   ==================== */
.main-content {

    align-items:center;
    padding-top: 2.5em;
}

.img-main {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border-radius: 50%;
}

/* =================
    Form
   ================= */
   
   input {
    display:block;
    width:100%;
    margin-bottom: 1em;
    padding: 0.5em;
   }
/* =================
    Media queries 
   ================= */

   @media (min-width: 678px) {
        .container {
            display: flex;
        }
        .intro, .main-content {
            width: 50%;
        }
        .intro {
            min-height: 100vh;
        }
        .main-content {
            justify-content: center; /** center along main axis */
            padding-top: 0;
        }
        h1 {
            font-size: 4vw;
            line-height: 1.5;
        }
        h2 {
            font-size:2.625rem;
        }
        .beta-text {
            font-size: 1.25rem
        }

   }